<div class="wh-div">
  <div class="list">
    <ul *ngFor="let todo of todos; let i = index">
      <li>
        <input type="checkbox" [(ngModel)]="todo.completed">
        <span [ngClass]="{ 'completed-todo': todo.completed }">
          {{ todo.text }}
        </span>
        <button (click)="deleteTodo(i)">Delete</button>
      </li>
    </ul>
  </div>

  <div class="completed">
    <h3>Completed Todos</h3>
    <ul>
      <li *ngFor="let todo of todos | custom">
        <span>{{ todo.text }}</span>
      </li>
    </ul>
  </div>
</div>