ul {
  list-style: none;
  
  margin-left: 100px;
  width: 50%;
}

.completed-todo {
  
  text-decoration:line-through;

}
input[type="checkbox"] {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

span {
  font-size: 18px;
}

button {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
 
}

button:hover {
  background: #c0392b;
}
li{
  display: flex;
  margin: 10px;
}