.div-1 {
  display: block;
  background: #0984e3;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 24px;

}


h1{
  font-size: 40px;
}
.div-1 div {
  margin-top: 8px;
}

a {
  color: #fff;
  background: #74b9ff;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  margin:  8px;
  font-weight: 500;

}

a:hover {
  background: #dfe6e9;
  color: #0984e3;
}

.div-2 {
  margin-top: 32px;
}